doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:wght@400;700&display=swap', rel='stylesheet')
    link(href="/images/favicon_io/favicon-16x16.png", rel="icon")
    link(rel='stylesheet', href='/css/styles.css')
    title New Post
  body
    include partials/main-nav.pug
    .main-heading__container
      h1.main-heading Edit Post
    if error
      .error-message.message=error
    else if message 
      .status-message.message=message
    article.new-post
      form.new-post__form(method='POST', action=`/posts/${post._id}?_method=PATCH`)
        input(name="_csrf", type="hidden", value=csrfToken)
        label.author-label(for='author', name="author")
          | Author
          input(name="author", type='text', value=post.author.username disabled)
        textarea(placeholder='Tell the world something...', name='content') #{post.message}
        button.submit-button(type="submit") Submit
    footer
  scri
