doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:wght@400;700&display=swap', rel='stylesheet')
    link(href="/images/favicon_io/favicon-16x16.png", rel="icon")
    link(rel='stylesheet', href='/css/styles.css')
    script(src='https://kit.fontawesome.com/4e9b8779c6.js', crossorigin='anonymous')
    title Main Board
  body
    header
      ul.main-nav
        li.main-nav__item
          a(href='/posts') Home
        li.main-nav__item
          a(href='/posts/new') New
        li.main-nav__item
          a(href='#') Login
        li.main-nav__item
          a(href='#') Logout
    .main-heading__container
      h1.main-heading Posts
    article.card-container
      each post in posts
        .card
          .thumbnail-container
            img(src=post.imageURL, alt='profile-thumbnail')
          .card-content
            h3=post.author.username
            p=post.message
            p.card-content__timestamp #{post.lastModified}
            .icons
              a(href=`/posts/${post._id}/edit`)
                i.fas.fa-edit.icon#edit-icon
              form#trash-form(method="POST", action=`/posts/${post._id}?_method=DELETE`)
                button#delete-button
                  i.fas.fa-trash.fa-lg.icon#trash-icon
      else 
        h2.main-heading No Posts Yet!